<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
  <div id="app">
      <input type="checkbox" v-model="ary" value="老田">老田
      <br />
      <input type="checkbox" v-model="ary" value="萌萌">萌萌
      <br />
      <input type="checkbox" v-model="ary" value="坤坤">坤坤
      <br />
      <p>选中的有:{{ary}}</p>
  </div>
  <script src="./vue.js"></script>
  <script>
  new Vue({
      el:"#app",
      data:{
          ary:[],
      },
  })
  </script>
</body>
</html>