<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- <input type="text" @input='(change(1,$event))'> -->
        <input
         type="text" 
         v-model='val'
         @keyup.enter="add">
         <!-- @keyup.13="add" -->
        <button @click='add'>发送</button>
        <ul>
           <li
           v-for="val in ary"
           >{{val}}</li
            >
        </ul>
    </div>
    <script src="./vue.js"></script>
    <script>
       new Vue({
           el:'#app',
           data:{
              ary:[1111,2222,3333],
              val: '',
           },
           methods:{
             add() {
                 this.ary.push(this.val);
             },
            //  change(num,ev) {
            //      this.val = ev.target.value;
            //  }
           }
       })
    </script>
</body>
</html>